@page "/"
@using BasketLeague2.Utils.Models
@using BasketLeague2.Utils.Utils
@using Newtonsoft.Json

@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>FRIKI PLANET BASKETBALL ASSOCIATION</h1>

Bienvenido a la mejor liga de basket del mundo - FRIKI LEAGUE

<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Más puntos anotados en casa</div>
            <div class="card-body">
                <div>@_equipo1.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-top"></i>
                    <span class="text">@_equipo1.DIF puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Menos puntos recibidos en casa</div>
            <div class="card-body">
                <div>@_equipo3.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-bottom"></i>
                    <span class="text">@_equipo3.DIF puntos recibidos</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Más puntos anotados fuera de casa</div>
            <div class="card-body">
                <div>@_equipo2.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-top"></i>
                    <span class="text">@_equipo2.DIF puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Menos puntos recibidos fuera de casa</div>
            <div class="card-body">
                <div>@_equipo4.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-bottom"></i>
                    <span class="text">@_equipo4.DIF puntos recibidos</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-8">
        <Carousel @bind-SelectedSlide="@_selectedSlide" Autoplay="false" Crossfade="true">
            <CarouselSlide Name="10">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">El Éxtasis del Deporte: El Mejor Partido de Baloncesto en la Historia.</h5>
                        <p class="card-text">Desde el comienzo, ambos equipos mostraron una intensidad y una habilidad que nos dejaron a todos sin aliento. Las jugadas ofensivas y defensivas se sucedieron sin pausa, cada equipo luchando por cada balón como si fuera el último.</p>
                        <p class="card-text">Los Reno Bighorns tomaron la iniciativa en el primer cuarto, con su estrella, Jack Adams "Adamizador", liderando el ataque con una precisión y una determinación increíbles. Sus tiros desde el perímetro fueron simplemente imparables.</p>
                        <p class="card-text">Pero los Wahpeton Ducks no se quedaron atrás. Charlie Rodriquez "Guru", su líder indiscutible, llevó a su equipo en el segundo cuarto con una exhibición de velocidad y agilidad. Sus habilidades para driblar y su capacidad para anotar desde cualquier posición dejaron a todos los presentes boquiabiertos.</p>
                        <p class="card-text">El último cuarto fue un auténtico espectáculo. Los Reno Bighorns mostraron una resistencia y una determinación increíbles, remontando una desventaja de 10 puntos a falta de solo tres minutos para el final. Los triples de Paulino Gasolino "El Oso" desataron la locura en las gradas.</p>
                        <p class="card-text">Pero los Wahpeton Ducks no estaban dispuestos a rendirse. Con unos segundos en el reloj, "Guru" se elevó desde la línea de tres puntos y anotó un tiro imposible que llevó su equipo a la victoria.</p>
                        <p class="card-text">El resultado final, 103-105 a favor de los Wahpeton Ducks, no hace justicia al nivel de juego y a la pasión que presenciamos en este partido. Fue un enfrentamiento épico entre dos equipos formidables, luchando hasta el último segundo para conseguir la victoria.</p>
                        <p class="card-text">En resumen, el partido entre los Reno Bighorns y los Wahpeton Ducks será recordado como uno de los mejores partidos de baloncesto de todos los tiempos</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 30 de Enero, 2024</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="9">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">Los Broncos galopan hacia la victoria.</h5>
                        <p class="card-text">¡Relincho, relincho! Hoy presencié un emocionante partido de baloncesto entre los Tampa Honey Badgers y los Birmingham Broncos. Fue un juego de pura velocidad y habilidad donde los Broncos demostraron su dominio desde el principio.</p>
                        <p class="card-text">Desde el primer relincho, los Broncos establecieron un ritmo rápido y furioso, anotando canasta tras canasta. Sus movimientos elegantes y coordinados eran como una danza en el aire. Parecían imparables, como una manada de corceles salvajes galopando hacia la victoria.</p>
                        <p class="card-text">Los Honey Badgers intentaron mantenerse al ritmo, pero sus esfuerzos fueron en vano. Tropezaron constantemente con la brillante defensa de los Broncos y les resultaba difícil encontrar su oportunidad de anotar. Aunque lucharon con todas sus fuerzas, simplemente no podían competir con la potencia y la velocidad de los Broncos.</p>
                        <p class="card-text">A lo largo del partido, los Broncos mostraron una increíble habilidad de tiro, anotando desde todas las posiciones posibles. Su precisión era como un arco lanzando flechas con una precisión impresionante. Mientras tanto, los Honey Badgers se esforzaban por encontrar su ritmo y se veían frustrados por el poderío defensivo de los Broncos.</p>
                        <p class="card-text">El partido llegó a su fin con un marcador final de 86 a 118 a favor de los Broncos. Fue una victoria arrolladora, como una carrera sin obstáculos hacia la línea de meta. Los Broncos demostraron su valía como un equipo cohesionado y dominante, mientras que los Honey Badgers se vieron superados por la fuerza deslumbrante de sus oponentes.</p>
                        <p class="card-text">En definitiva, este partido de baloncesto entre los Tampa Honey Badgers y los Birmingham Broncos fue un espectáculo impresionante. Los Broncos jugaron como unos jinetes expertos, mientras que los Honey Badgers tuvieron dificultades para mantenerse a su nivel. ¡Relincho, relincho!</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 23 de Enero, 2024</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="8">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">Pandas, eternos amantes de la siesta.</h5>
                        <p class="card-text">El partido entre los Wahpeton Ducks y los Jackson Pandas fue una exhibición de la incompetencia y debilidad del equipo de los Pandas. Aunque lograron anotar 108 puntos, la mayoría de ellos no fueron más que suerte y errores defensivos por parte de los Ducks.</p>
                        <p class="card-text">Desde el inicio del juego, los Pandas demostraron su incapacidad para competir a un nivel de alto rendimiento. Su defensa era inexistente, permitiendo que los Ducks anotaran con facilidad en cada posesión. Además, su falta de coordinación y disciplina en ambos lados de la cancha fue obvia.</p>
                        <p class="card-text">A pesar de los esfuerzos desesperados de los Pandas por mantenerse en el juego, su ineptitud y falta de talento les impidió acercarse al marcador. El equipo carecía de jugadores destacados y ninguna de sus estrategias fue efectiva contra la defensa de los Ducks.</p>
                        <p class="card-text">Los Pandas solo lograron anotar puntos en situaciones de contraataque o gracias a jugadas aisladas de uno o dos jugadores. Su falta de juego en equipo y comunicación fue evidente en todo momento.</p>
                        <p class="card-text">En resumen, el partido entre los Wahpeton Ducks y los Jackson Pandas fue un ejemplo de la falta de habilidad y competencia de los Pandas. Su derrota por 122 a 108 solo confirmó lo que todos ya sabían: los Pandas son un equipo débil y sin posibilidades de éxito en el básquetbol.</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 16 de Enero, 2024</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="7">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">Pandas al borde de la extinción.</h5>
                        <p class="card-text">¡Oh, vaya juego tuvimos el otro día, amigos! ¡Los Reno Bighorns dominaron el encuentro de baloncesto contra los Jackson Pandas de principio a fin! ¡Fue una exhibición impresionante de talento y habilidad por parte de nuestros queridos Bighorns!</p>
                        <p class="card-text">Desde el primer salto, nuestros chicos salieron a la cancha con una determinación inquebrantable. ¡No había vuelta atrás en su búsqueda de la victoria! Fue increíble verlos volar por la cancha, anotando canasta tras canasta sin piedad. ¡Nuestro ataque fue imparable, como un tornado de encestes!</p>
                        <p class="card-text">Y hablemos de nuestra defensa, ¡simplemente no tenían oportunidad los pobres Pandas! Los Bighorns ejercieron una presión implacable sobre sus oponentes, negándoles cualquier oportunidad de respirar en la cancha. Robo tras robo, bloqueo tras bloqueo, ¡no había escape para los Pandas bajo nuestra feroz defensa!</p>
                        <p class="card-text">Pero lo que realmente me dejó sin palabras fue el desempeño de nuestro talentoso líder, Paulino Gasolino. ¡Fue simplemente sublime! Sus triples y clavadas eran como fuegos artificiales en el cielo nocturno. Fue un espectáculo digno de admirar.</p>
                        <p class="card-text">Aunque no podemos olvidar mencionar el gran trabajo de Emma Zhang y Grace Upton también. ¡Estas chicas estuvieron en llamas toda la noche! Sus tiros precisos y jugadas en equipo demostraron una vez más por qué los Bighorns son el equipo a seguir.</p>
                        <p class="card-text">Y qué decir de esos rebotes, ¡como si fueran muros de acero! ¡No había forma de que los Pandas pudieran hacer algo ante nuestra imbatible voluntad!</p>
                        <p class="card-text">Amigos, fue una noche para recordar, una victoria abrumadora y llena de emoción para nuestros Reno Bighorns. ¡Celebramos con júbilo mientras nuestros jugadores se deleitaban en su merecido triunfo! ¡Viva el baloncesto, viva los Bighorns! ¡Estamos listos para más victorias en el futuro!</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 9 de Enero, 2024</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="6">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">Los suricatos salen de la madriguera.</h5>
                        <p class="card-text">En un emocionante partido entre los Little Rock Wombats y los Honolulu Meerkats, fue este último quien dominó el encuentro de principio a fin, terminando con una abrumadora ventaja de 82-132.</p>
                        <p class="card-text">El partido comenzó con los Meerkats estableciendo su ritmo desde el principio, logrando una rápida ventaja en el marcador. Mientras tanto, los Wombats luchaban por encontrar su lugar en la cancha, cometiendo varios errores y fallando en aprovechar las oportunidades de anotar.</p>
                        <p class="card-text">A lo largo del juego, los Meerkats demostraron una gran coordinación en equipo y una excelente capacidad de tiro, anotando puntos desde todas las posiciones en la cancha. Además, jugaron una defensa sólida, dificultando el avance ofensivo de los Wombats y asegurándose de que cada posesión fuera difícil para su oponente.</p>
                        <p class="card-text">Por otra parte, los Wombats mostraron destellos de talento y lograron anotar algunos puntos, pero no fueron suficientes para mantenerse al ritmo de los Meerkats. Su falta de coordinación y errores en los pases fueron aprovechados por sus oponentes, quienes capitalizaron cada oportunidad y aumentaron aún más su ventaja en el marcador.</p>
                        <p class="card-text">En resumen, el partido entre los Little Rock Wombats y los Honolulu Meerkats fue dominado por estos últimos, quienes mostraron una sobresaliente actuación en ambos lados de la cancha. Su ventaja final de 82-132 refleja su superioridad y habilidad para controlar el juego en todo momento.</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 2 de Enero, 2024</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="5">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">Mi más sentido pésame para los fans de los Jackson Pandas.</h5>
                        <p class="card-text">El partido entre los Wahpeton Ducks y los Jackson Pandas fue emocionante y lleno de acción de principio a fin. Ambos equipos mostraron una gran habilidad y determinación en la cancha, pero al final, los Ducks se llevaron la victoria con un marcador de 101-92.</p>
                        <p class="card-text">El partido comenzó muy parejo, con ambos equipos anotando de manera constante y sin dar tregua. Los Pandas demostraron una gran precisión en los tiros de tres puntos, mientras que los Ducks destacaron en el juego en la pintura y en el contraataque. Al final del primer cuarto, el marcador estaba muy parejo, con una mínima ventaja para los Pandas de 25-24.</p>
                        <p class="card-text">En el segundo cuarto, los Ducks intensificaron su defensa y comenzaron a presionar a los Pandas, lo que les permitió robar varios balones y convertirlos en puntos rápidos. El juego se volvió más físico y competitivo, con jugadas espectaculares por parte de ambos equipos. Los Ducks lograron tomar una pequeña ventaja al medio tiempo, liderando el marcador 52-48.</p>
                        <p class="card-text">En la segunda mitad del partido, los Pandas no se dieron por vencidos y lucharon arduamente para recuperar la ventaja. Su defensa fue más sólida y lograron reducir la brecha en el marcador. Sin embargo, los Ducks demostraron su experiencia y habilidades en los momentos clave del partido. A medida que se acercaba el final del juego, los Ducks lograron mantener su liderazgo y asegurar la victoria con una ventaja de 9 puntos, cerrando el partido con un marcador final de 101-92.</p>
                        <p class="card-text">Ambos equipos mostraron un gran desempeño en el partido, pero fueron los Ducks quienes lograron capitalizar sus oportunidades y llevarse la victoria. Los jugadores clave fueron destacados, como el líder anotador de los Ducks, Jack Tylor, quien anotó 28 puntos, y el destacado jugador de los Pandas, Nikola Jovanovic, quien anotó 35 puntos y lideró su equipo en rebotes.</p>
                        <p class="card-text">En resumen, el partido entre los Wahpeton Ducks y los Jackson Pandas fue intenso y emocionante. Los Ducks se llevaron la victoria con un marcador final de 101-92, gracias a su desempeño en ambos lados de la cancha y su capacidad para capitalizar las oportunidades de anotación.</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 19 de Diciembre, 2023</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="4">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">[...] más dura será la caída!</h5>
                        <p class="card-text">¡Ash, mi amigo! Reúnanse y déjenme contarles la historia de un épico partido de baloncesto entre los Tampa Honey Badgers y los Sacramento Snails. Fue un enfrentamiento electrizante que mantuvo a la multitud al borde de sus asientos.</p>
                        <p class="card-text">Con movimientos rápidos como el rayo y una coordinación afilada como una navaja, los Tampa Honey Badgers se lanzaron a la cancha como una bandada de Pidgeys. Su ofensiva era una fuerza a tener en cuenta. Los Honey Badgers se movían rápidamente, pasando el balón con la elegancia de un Ninjask y disparando con la precisión de un Machamp. Sus clavadas eran tan poderosas como el ataque Splash de un Gyarados, dejando a la multitud asombrada.</p>
                        <p class="card-text">¡Pero no olvidemos a los animados Sacramento Snails! Aunque carecían de la velocidad de un Rapidash, mostraron resistencia y determinación. Con su defensa en forma de caparazón, hicieron difícil el avance de los Honey Badgers. Los Snails lograron anotar 107 puntos, liderados por su jugador estrella, un Snorlax conocido por sus poderosos mates y su precisión experta.</p>
                        <p class="card-text">A medida que el juego alcanzaba su clímax, las tensiones aumentaban como el lanzallamas de un Charizard. Los Honey Badgers y los Snails dieron lo mejor de sí, luchando ferozmente hasta el último timbrazo. Al final, los Tampa Honey Badgers salieron victoriosos con un marcador de 116-107.</p>
                        <p class="card-text">Fue un enfrentamiento con el verdadero espíritu Pokémon, ¡Ash! La multitud estalló en vítores y aplausos, celebrando la notable exhibición de talento y deportividad. Ambos equipos dejaron todo en la cancha, encarnando el espíritu indomable de un entrenador Pokémon en busca de la victoria.</p>
                        <p class="card-text">Entonces, amigo mío, esa es la historia del épico partido de baloncesto entre los Tampa Honey Badgers y los Sacramento Snails. ¡Seguro será recordado como una batalla legendaria que inspirará a entrenadores Pokémon y fanáticos del baloncesto por generaciones!</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 28 de Noviembre, 2023</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="3">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">El Urdaneto se impone a White Chocolate.</h5>
                        <p class="card-text">En un emocionante enfrentamiento de baloncesto, los Little Rock Wombats y los Boston Frogs se enfrentaron cabeza a cabeza en la cancha. El juego estuvo lleno de acción constante y momentos de suspenso.</p>
                        <p class="card-text">Desde el saque inicial, ambos equipos mostraron su destreza ofensiva, anotando canasta tras canasta. Los Wombats lucharon valientemente y demostraron sus habilidades de tiro, pero los Frogs fueron implacables en sus ataques.</p>
                        <p class="card-text">A lo largo del partido, los Frogs mantuvieron una sólida ventaja sobre los Wombats, aprovechando su sólida defensa y su ofensiva rápida. Su trabajo en equipo y coordinación fueron realmente impresionantes, lo que les permitió dominar el juego.</p>
                        <p class="card-text">A pesar de los mejores esfuerzos de los Wombats, les costó seguir el ritmo de la racha anotadora de los Frogs. Los jugadores de los Frogs mostraron su brillantez individual con volcadas impresionantes, triples precisos e impecable manejo del balón.</p>
                        <p class="card-text">Los Wombats lucharon valientemente, sin rendirse hasta el último silbato. Demostraron su determinación y habilidad, anotando varias canastas destacadas. Sin embargo, la ofensiva implacable de los Frogs resultó demasiado difícil de superar.</p>
                        <p class="card-text">Cuando sonó la bocina final, el marcador mostraba 110 - 142 a favor de los Boston Frogs. Fue una actuación electrizante de los Frogs, asegurando una merecida victoria. La multitud estalló en aplausos, apreciando las habilidades extraordinarias mostradas por ambos equipos.</p>
                        <p class="card-text">En general, fue un enfrentamiento de baloncesto inolvidable, que mostró el espíritu de competencia, habilidad y deportividad.</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 21 de Noviembre, 2023</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="2">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">Las ranas sueñan con el título.</h5>
                        <p class="card-text">En un emocionante partido de baloncesto, los Jackson Pandas se enfrentaron a los Boston Frogs en un duelo lleno de acción y emoción. Desde el inicio del juego, ambos equipos mostraron un gran nivel de competitividad y determinación.</p>
                        <p class="card-text">Los Jackson Pandas lucharon valientemente en la cancha, pero los Boston Frogs demostraron su dominio en el juego con una actuación excepcional. Con una ofensiva poderosa y una defensa sólida, los Frogs lograron mantener una ventaja constante a lo largo del partido.</p>
                        <p class="card-text">A pesar de los esfuerzos de los Pandas por remontar, los Frogs se mostraron imparables, anotando canasta tras canasta con gran habilidad y precisión. Sus jugadores brillaron en cada jugada, realizando jugadas espectaculares y demostrando su destreza en el deporte.</p>
                        <p class="card-text">A medida que el reloj avanzaba, la ventaja de los Frogs se hizo cada vez más grande. Sin embargo, los Pandas nunca dejaron de luchar y mostraron su espíritu competitivo hasta el final, anotando puntos importantes y defendiendo con determinación.</p>
                        <p class="card-text">Al final del partido, el marcador reflejó una victoria aplastante para los Boston Frogs, con un marcador final de 78-108. Fue una actuación impresionante por parte de los Frogs, quienes demostraron ser un equipo formidable y digno de admiración.</p>
                        <p class="card-text">Ambos equipos mostraron un gran talento y habilidad en el deporte del baloncesto, brindando un espectáculo inolvidable para los aficionados y seguidores. Sin duda, este encuentro quedará en la memoria de todos aquellos que presenciaron el emocionante enfrentamiento entre los Jackson Pandas y los Boston Frogs.</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 14 de Noviembre, 2023</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
            <CarouselSlide Name="1">
                <div class="card mb-3" style="min-height: 600px">
                    <div class="card-body">
                        <h5 class="card-title">¿Es un Lockheed SR-71? No, es un caracol!</h5>
                        <p class="card-text">¡En la cancha, señoras y señores! ¡Bienvenidos al partido de baloncesto entre los Sacramento Snails y los Milwaukee Platypus! Un encuentro lleno de emoción y talento en la duela.</p>
                        <p class="card-text">Desde el primer instante, los Snails dejaron claro que estaban dispuestos a morder en cada jugada. Con un ataque veloz y una defensa asfixiante, dominaron la cancha. ¡No podían parar de anotar! Triples, mates, jugadas espectaculares... ¡Un verdadero festín de baloncesto!</p>
                        <p class="card-text">Pero los Platypus no se rindieron fácilmente. Con un juego inteligente y un espíritu de lucha incansable, intentaron dar guerra en cada posesión. Sin embargo, los Snails se encontraban imparables, moviendo el balón con maestría y encontrando siempre al jugador libre para anotar.</p>
                        <p class="card-text">La defensa de los Snails era un muro infranqueable para los Platypus. Cada intento de canasta era bloqueado o desviado, frustrando los esfuerzos de Milwaukee. Los rebotes eran una posesión segura para los Snails, quienes no dejaron escapar ninguna oportunidad de ampliar su ventaja.</p>
                        <p class="card-text">¡Y así transcurrió el partido, con los Snails demostrando su superioridad en cada cuarto! Dominaron el marcador a su antojo, llevando la emoción y la alegría a su afición. Los Platypus, por su parte, lucharon con garra y determinación hasta el último segundo, pero fue insuficiente para frenar el vendaval de los Snails.</p>
                        <p class="card-text">Cuando sonó la bocina final, el marcador reflejaba una victoria contundente para los Snails, dejando un marcador final de 130 a 92. ¡Un auténtico baile de puntos para Sacramento!</p>
                        <p class="card-text">Recordaremos este partido como una exhibición de baloncesto en estado puro. Los Snails demostraron su talento y su dominio en la cancha, mientras que los Platypus ofrecieron una oposición valiente y digna de admiración. ¡Un duelo que quedará grabado en las mentes de todos los aficionados al baloncesto!</p>
                        <p class="card-text">
                            <small class="text-muted">Publicado el 7 de Noviembre, 2023</small>
                        </p>
                    </div>
                </div>
            </CarouselSlide>
        </Carousel>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">La normativa tiene ahora su lugar</h5>
                <p class="card-text">Accede a <b>rules</b> para consultar la normativa actualizada.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Regreso de los OG</h5>
                <p class="card-text">Vuelven a nuestra prestigiosa liga los Seattle Killer Whales.</p>
                <p class="card-text">Bienvenidos a vuestra casa!!</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Jugadores draft 2024</h5>
                <p class="card-text">Han llegado ya a nuestra puerta los jugadores para el próximo draft.</p>
                <p class="card-text">Vayan al listado de jugadores para consultarlos.</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Sendoa Unchained</h5>
                <p class="card-text">Sendoa Del Campo, presidente de Jackson Pandas, estalla contra la directiva por no avisarle con los horarios de los partidos.</p>
                <p class="card-text">Sus declaraciones fueron: <b>*Sonidos ininteligibles* Sois unos garrulos.</b></p>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<Team> _teams = new Team[] { };
    private IEnumerable<AdvancedResult> _results = new AdvancedResult[] { };
    private IEnumerable<Player> _players = new Player[] { };

    private Team _equipo1 = new(); // Equipo con más puntos anotados en casa
    private Team _equipo2 = new(); // Equipo con más puntos anotados fuera de casa
    private Team _equipo3 = new(); // Equipo con menos puntos en contra en casa
    private Team _equipo4 = new(); // Equipo con menos puntos en contra fuera de casa

    private string _selectedSlide = "10";

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
        await GetResults();
        await GetPlayers();

        CalcularRacha();
        CalcularScores();
    }

    private async Task GetTeams()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");
        _teams = _teams.Concat(t);
    }

    private async Task GetResults()
    {
        var r = await Http.GetFromJsonAsync<IEnumerable<AdvancedResult>>("data/results/R_S3.json");
        _results = _results.Concat(r);
    }

    private async Task GetPlayers()
    {
        var p = await Http.GetFromJsonAsync<IEnumerable<Player>>("data/players.json");
        _players = _players.Concat(p);
    }

    private void CalcularRacha()
    {
        _equipo1 = _results.GroupBy(r => r.Equipo1).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo1)).NombreCompleto, DIF = r.Sum(r => r.Resultado1) }).MaxBy(r => r.DIF);
        _equipo2 = _results.GroupBy(r => r.Equipo2).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo2)).NombreCompleto, DIF = r.Sum(r => r.Resultado2) }).MaxBy(r => r.DIF);
        _equipo3 = _results.GroupBy(r => r.Equipo1).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo1)).NombreCompleto, DIF = r.Sum(r => r.Resultado2) }).MinBy(r => r.DIF);
        _equipo4 = _results.GroupBy(r => r.Equipo2).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo2)).NombreCompleto, DIF = r.Sum(r => r.Resultado1) }).MinBy(r => r.DIF);
    }

    private void CalcularScores()
    {
        var stats1 = _results.Select(r => r.Stats1);
        var stats2 = _results.Select(r => r.Stats2);

        var stats = stats1.Concat(stats2);

        List<int[]> diary = (from s in stats from ss in s select new[] { ss[0], ss.Skip(1).Sum() }).ToList();

        var grouped = diary.GroupBy(d => d[0]).ToList();
        var playerScores = grouped.Select(g => new KeyValuePair<string, int>(_players.Single(p => p.Codigo == g.Key).Nickname, g.Sum(gg => gg.Skip(1).Sum()))).ToList();

        Console.WriteLine(JsonConvert.SerializeObject(playerScores.OrderByDescending(kvp => kvp.Value)));
    }

}