@page "/"

@inject HttpClient Http

@using BasketLeague2.Utils.Models

<PageTitle>Index</PageTitle>

<h1>FRIKI PLANET BASKETBALL ASSOCIATION</h1>

Bienvenido a la mejor liga de basket del mundo - FRIKI LEAGUE

<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Más puntos anotados en casa</div>
            <div class="card-body">
                <div>@_equipo1.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-top"></i>
                    <span class="text">@_equipo1.DIF puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Menos puntos recibidos en casa</div>
            <div class="card-body">
                <div>@_equipo3.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-bottom"></i>
                    <span class="text">@_equipo3.DIF puntos recibidos</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Más puntos anotados fuera de casa</div>
            <div class="card-body">
                <div>@_equipo2.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-top"></i>
                    <span class="text">@_equipo2.DIF puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header horizontal-gradient">Menos puntos recibidos fuera de casa</div>
            <div class="card-body">
                <div>@_equipo4.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-bottom"></i>
                    <span class="text">@_equipo4.DIF puntos recibidos</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">[...] más dura será la caída!</h5>
                <p class="card-text">¡Ash, mi amigo! Reúnanse y déjenme contarles la historia de un épico partido de baloncesto entre los Tampa Honey Badgers y los Sacramento Snails. Fue un enfrentamiento electrizante que mantuvo a la multitud al borde de sus asientos.</p>
                <p class="card-text">Con movimientos rápidos como el rayo y una coordinación afilada como una navaja, los Tampa Honey Badgers se lanzaron a la cancha como una bandada de Pidgeys. Su ofensiva era una fuerza a tener en cuenta. Los Honey Badgers se movían rápidamente, pasando el balón con la elegancia de un Ninjask y disparando con la precisión de un Machamp. Sus clavadas eran tan poderosas como el ataque Splash de un Gyarados, dejando a la multitud asombrada.</p>
                <p class="card-text">¡Pero no olvidemos a los animados Sacramento Snails! Aunque carecían de la velocidad de un Rapidash, mostraron resistencia y determinación. Con su defensa en forma de caparazón, hicieron difícil el avance de los Honey Badgers. Los Snails lograron anotar 107 puntos, liderados por su jugador estrella, un Snorlax conocido por sus poderosos mates y su precisión experta.</p>
                <p class="card-text">A medida que el juego alcanzaba su clímax, las tensiones aumentaban como el lanzallamas de un Charizard. Los Honey Badgers y los Snails dieron lo mejor de sí, luchando ferozmente hasta el último timbrazo. Al final, los Tampa Honey Badgers salieron victoriosos con un marcador de 116-107.</p>
                <p class="card-text">Fue un enfrentamiento con el verdadero espíritu Pokémon, ¡Ash! La multitud estalló en vítores y aplausos, celebrando la notable exhibición de talento y deportividad. Ambos equipos dejaron todo en la cancha, encarnando el espíritu indomable de un entrenador Pokémon en busca de la victoria.</p>
                <p class="card-text">Entonces, amigo mío, esa es la historia del épico partido de baloncesto entre los Tampa Honey Badgers y los Sacramento Snails. ¡Seguro será recordado como una batalla legendaria que inspirará a entrenadores Pokémon y fanáticos del baloncesto por generaciones!</p>
                <p class="card-text">
                    <small class="text-muted">Publicado el 28 de Noviembre, 2023</small>
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">El Urdaneto se impone a White Chocolate</h5>
                <p class="card-text">En un emocionante enfrentamiento de baloncesto, los Little Rock Wombats y los Boston Frogs se enfrentaron cabeza a cabeza en la cancha. El juego estuvo lleno de acción constante y momentos de suspenso.</p>
                <p class="card-text">Desde el saque inicial, ambos equipos mostraron su destreza ofensiva, anotando canasta tras canasta. Los Wombats lucharon valientemente y demostraron sus habilidades de tiro, pero los Frogs fueron implacables en sus ataques.</p>
                <p class="card-text">A lo largo del partido, los Frogs mantuvieron una sólida ventaja sobre los Wombats, aprovechando su sólida defensa y su ofensiva rápida. Su trabajo en equipo y coordinación fueron realmente impresionantes, lo que les permitió dominar el juego.</p>
                <p class="card-text">A pesar de los mejores esfuerzos de los Wombats, les costó seguir el ritmo de la racha anotadora de los Frogs. Los jugadores de los Frogs mostraron su brillantez individual con volcadas impresionantes, triples precisos e impecable manejo del balón.</p>
                <p class="card-text">Los Wombats lucharon valientemente, sin rendirse hasta el último silbato. Demostraron su determinación y habilidad, anotando varias canastas destacadas. Sin embargo, la ofensiva implacable de los Frogs resultó demasiado difícil de superar.</p>
                <p class="card-text">Cuando sonó la bocina final, el marcador mostraba 110 - 142 a favor de los Boston Frogs. Fue una actuación electrizante de los Frogs, asegurando una merecida victoria. La multitud estalló en aplausos, apreciando las habilidades extraordinarias mostradas por ambos equipos.</p>
                <p class="card-text">En general, fue un enfrentamiento de baloncesto inolvidable, que mostró el espíritu de competencia, habilidad y deportividad.</p>
                <p class="card-text">
                    <small class="text-muted">Publicado el 21 de Noviembre, 2023</small>
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Las ranas sueñan con el título</h5>
                <p class="card-text">En un emocionante partido de baloncesto, los Jackson Pandas se enfrentaron a los Boston Frogs en un duelo lleno de acción y emoción. Desde el inicio del juego, ambos equipos mostraron un gran nivel de competitividad y determinación.</p>
                <p class="card-text">Los Jackson Pandas lucharon valientemente en la cancha, pero los Boston Frogs demostraron su dominio en el juego con una actuación excepcional. Con una ofensiva poderosa y una defensa sólida, los Frogs lograron mantener una ventaja constante a lo largo del partido.</p>
                <p class="card-text">A pesar de los esfuerzos de los Pandas por remontar, los Frogs se mostraron imparables, anotando canasta tras canasta con gran habilidad y precisión. Sus jugadores brillaron en cada jugada, realizando jugadas espectaculares y demostrando su destreza en el deporte.</p>
                <p class="card-text">A medida que el reloj avanzaba, la ventaja de los Frogs se hizo cada vez más grande. Sin embargo, los Pandas nunca dejaron de luchar y mostraron su espíritu competitivo hasta el final, anotando puntos importantes y defendiendo con determinación.</p>
                <p class="card-text">Al final del partido, el marcador reflejó una victoria aplastante para los Boston Frogs, con un marcador final de 78-108. Fue una actuación impresionante por parte de los Frogs, quienes demostraron ser un equipo formidable y digno de admiración.</p>
                <p class="card-text">Ambos equipos mostraron un gran talento y habilidad en el deporte del baloncesto, brindando un espectáculo inolvidable para los aficionados y seguidores. Sin duda, este encuentro quedará en la memoria de todos aquellos que presenciaron el emocionante enfrentamiento entre los Jackson Pandas y los Boston Frogs.</p>
                <p class="card-text">
                    <small class="text-muted">Publicado el 14 de Noviembre, 2023</small>
                </p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">¿Es un Lockheed SR-71? No, es un caracol!</h5>
                <p class="card-text">¡En la cancha, señoras y señores! ¡Bienvenidos al partido de baloncesto entre los Sacramento Snails y los Milwaukee Platypus! Un encuentro lleno de emoción y talento en la duela.</p>
                <p class="card-text">Desde el primer instante, los Snails dejaron claro que estaban dispuestos a morder en cada jugada. Con un ataque veloz y una defensa asfixiante, dominaron la cancha. ¡No podían parar de anotar! Triples, mates, jugadas espectaculares... ¡Un verdadero festín de baloncesto!</p>
                <p class="card-text">Pero los Platypus no se rindieron fácilmente. Con un juego inteligente y un espíritu de lucha incansable, intentaron dar guerra en cada posesión. Sin embargo, los Snails se encontraban imparables, moviendo el balón con maestría y encontrando siempre al jugador libre para anotar.</p>
                <p class="card-text">La defensa de los Snails era un muro infranqueable para los Platypus. Cada intento de canasta era bloqueado o desviado, frustrando los esfuerzos de Milwaukee. Los rebotes eran una posesión segura para los Snails, quienes no dejaron escapar ninguna oportunidad de ampliar su ventaja.</p>
                <p class="card-text">¡Y así transcurrió el partido, con los Snails demostrando su superioridad en cada cuarto! Dominaron el marcador a su antojo, llevando la emoción y la alegría a su afición. Los Platypus, por su parte, lucharon con garra y determinación hasta el último segundo, pero fue insuficiente para frenar el vendaval de los Snails.</p>
                <p class="card-text">Cuando sonó la bocina final, el marcador reflejaba una victoria contundente para los Snails, dejando un marcador final de 130 a 92. ¡Un auténtico baile de puntos para Sacramento!</p>
                <p class="card-text">Recordaremos este partido como una exhibición de baloncesto en estado puro. Los Snails demostraron su talento y su dominio en la cancha, mientras que los Platypus ofrecieron una oposición valiente y digna de admiración. ¡Un duelo que quedará grabado en las mentes de todos los aficionados al baloncesto!</p>
                <p class="card-text">
                    <small class="text-muted">Publicado el 7 de Noviembre, 2023</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Noticia destacada</h5>
                <p class="card-text">Ahora la liga también tiene un blog de noticias con los partidos destacados de cada jornada.</p>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<Team> _teams = new Team[] { };
    private IEnumerable<Result> _results = new Result[] { };

    private Team _equipo1 = new(); // Equipo con más puntos anotados en casa
    private Team _equipo2 = new(); // Equipo con más puntos anotados fuera de casa
    private Team _equipo3 = new(); // Equipo con menos puntos en contra en casa
    private Team _equipo4 = new(); // Equipo con menos puntos en contra fuera de casa

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
        await GetResults();

        CalcularRacha();
    }

    private async Task GetTeams()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");
        _teams = _teams.Concat(t);
    }

    private async Task GetResults()
    {
        var r = await Http.GetFromJsonAsync<IEnumerable<Result>>("data/results/R_S3.json");
        _results = _results.Concat(r);
    }

    private void CalcularRacha()
    {
        _equipo1 = _results.GroupBy(r => r.Equipo1).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo1)).NombreCompleto, DIF = r.Sum(r => r.Resultado1) }).MaxBy(r => r.DIF);
        _equipo2 = _results.GroupBy(r => r.Equipo2).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo2)).NombreCompleto, DIF = r.Sum(r => r.Resultado2) }).MaxBy(r => r.DIF);
        _equipo3 = _results.GroupBy(r => r.Equipo1).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo1)).NombreCompleto, DIF = r.Sum(r => r.Resultado2) }).MinBy(r => r.DIF);
        _equipo4 = _results.GroupBy(r => r.Equipo2).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo2)).NombreCompleto, DIF = r.Sum(r => r.Resultado1) }).MinBy(r => r.DIF);
    }

}