@page "/"

@inject HttpClient Http

@using BasketLeague2.Utils.Models

<PageTitle>Index</PageTitle>

<h1>Inizias basket FRIKI LEAGUE!</h1>

Bienvenido a la mejor liga de basket del mundo

<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">Más puntos anotados en casa</div>
            <div class="card-body">
                <div>@_equipo1.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-top"></i>
                    <span class="text">@_equipo1.DIF puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header">Menos puntos recibidos en casa</div>
            <div class="card-body">
                <div>@_equipo3.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-bottom"></i>
                    <span class="text">@_equipo3.DIF puntos recibidos</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header">Más puntos anotados fuera de casa</div>
            <div class="card-body">
                <div>@_equipo2.NombreCompleto</div>
                <div>
                    <i class='oi oi-arrow-thick-top'></i>
                    <span class="text">@_equipo2.DIF puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <div class="card-header">Menos puntos recibidos fuera de casa</div>
            <div class="card-body">
                <div>@_equipo4.NombreCompleto</div>
                <div>
                    <i class="oi oi-arrow-thick-bottom"></i>
                    <span class="text">@_equipo4.DIF puntos recibidos</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IEnumerable<Team> _teams = new Team[] { };
    private IEnumerable<Result> _results = new Result[] { };

    private Team _equipo1 = new(); // Equipo con más puntos anotados en casa
    private Team _equipo2 = new(); // Equipo con más puntos anotados fuera de casa
    private Team _equipo3 = new(); // Equipo con menos puntos en contra en casa
    private Team _equipo4 = new(); // Equipo con menos puntos en contra fuera de casa

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
        await GetResults();

        CalcularRacha();
    }

    private async Task GetTeams()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");
        _teams = _teams.Concat(t);
    }

    private async Task GetResults()
    {
        var r = await Http.GetFromJsonAsync<IEnumerable<Result>>("data/results/R_S2.json");
        _results = _results.Concat(r);
    }

    private void CalcularRacha()
    {
        _equipo1 = _results.GroupBy(r => r.Equipo1).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo1)).NombreCompleto, DIF = r.Sum(r => r.Resultado1) }).MaxBy(r => r.DIF);
        _equipo2 = _results.GroupBy(r => r.Equipo2).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo2)).NombreCompleto, DIF = r.Sum(r => r.Resultado2) }).MaxBy(r => r.DIF);
        _equipo3 = _results.GroupBy(r => r.Equipo1).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo1)).NombreCompleto, DIF = r.Sum(r => r.Resultado2) }).MinBy(r => r.DIF);
        _equipo4 = _results.GroupBy(r => r.Equipo2).Select(r => new Team { NombreCompleto = _teams.First(t => t.Codigo == int.Parse(r.First().Equipo2)).NombreCompleto, DIF = r.Sum(r => r.Resultado1) }).MinBy(r => r.DIF);
    }

}