@page "/Teams"

@inject HttpClient Http

@using BasketLeague2.Utils.Models
@using System.Text
@using System.Text.Json

<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                NOMBRE COMPLETO
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                DUEÑO
            </th>
            <th>
                ATK
            </th>
            <th>
                TIRO
            </th>
            <th>
                DEF
            </th>
            <th>
                REBOTE
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in teams)
        {
            <tr>
                <td>@t.NombreCompleto</td>
                <td>@t.Nombre</td>
                <td>@t.Dueño</td>
                <td>@t.Ataque</td>
                <td>@t.Tiro</td>
                <td>@t.Defensa</td>
                <td>@t.Rebote</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public IEnumerable<Team> teams = new Team[] { };

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
    }

    private async Task GetTeams()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");        
        teams = teams.Concat(t.OrderBy(t => t.NombreCompleto));
    }
}
